<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Welcome Home</h1>
    <p>Book unique homes and experience a city like a local.</p>
    <div class="form-inline">
      <input type="text" id="where" placeholder="Where" class="form-control">
      <input type="text" id="when" placeholder="When?" class="form-control">
      <select id="favorite" name="language">
        <option value="1guest">1 Guest</option>
        <option value="2guets">2 Guests</option>
        <option value="3guests">3 Guests</option>
      </select>
      <input type="submit" class="form-control btn-primary" value="Search">
    </div>
  </div>
</div>

